* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F8FA;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

p {
    margin: 0 0 2em 0;
}


/************ Square *************/

.square {
    transition: 1s;
    margin-left: 90px;
    margin-top: 100px;
    border: 5px solid #000;
    letter-spacing: normal;
    line-height: normal;
    /* Color & Background */
    color: rgb(0, 0, 0);
    /* Box */
    height: 50px;
    width: 50px;
    /* Positioning */
    position: relative;
    /* Effects */
    transform: matrix(6.12323e-17, -1, 1, 6.12323e-17, 0, 0);
    transition: transform 0.4s ease-in-out 0s;
    box-sizing: content-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

.square:hover {
    transition: 0.5s;
    transform: rotate(-180deg);
}

.logo-text {
    text-align: center;
    font-size: 25px;
    letter-spacing: normal;
    /* Positioning */
    position: absolute;
    top: 25px;
    bottom: 10.7778px;
    right: 5.29167px;
    left: 25px;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    /* Effects */
    transform: matrix(6.12323e-17, 1, -1, 6.12323e-17, -9.77778, -7.11111);
    transition: transform 0.4s ease-in-out 0s;
}

.container {
    background-color: #F7F8FA;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 8px 0 rgb(0, 35, 102, 0.2);
}

.search-box {
    width: 100%;
    justify-content: space-between;
}

.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: 3px solid black;
    font-size: 16px;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: black;
    border: none;
    outline: none;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.search-box button:hover {
    transition: 0.5s;
    background-color: #4169e1;
}

.result {
    position: relative;
}

.result h3 {
    font-size: 30px;
    color: #1f194c;
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}

.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning {
    color: #575a7b;
}

.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}

.error {
    margin-top: 80px;
    text-align: center;
}

@media screen and (max-width: 736px) {
    .square {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .container {
        margin-top: 20%;
    }
    .search-box input {
        width: 100%;
    }
    .search-box button {
        width: 50%;
        margin-top: 2%;
        float: right;
    }
}