@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #F7F8FA;
    color: black;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

p {
    margin: 0 0 2em 0;
}

.pass-wrap {
    margin-top: -50%;
    width: 110%;
    height: 10%;
}


/************ Square *************/

.square {
    transition: 1s;
    margin-left: -590px;
    border: 5px solid #000;
    letter-spacing: normal;
    line-height: normal;
    /* Color & Background */
    color: rgb(0, 0, 0);
    /* Box */
    height: 50px;
    width: 50px;
    /* Positioning */
    position: relative;
    /* Effects */
    transform: matrix(6.12323e-17, -1, 1, 6.12323e-17, 0, 0);
    transition: transform 0.4s ease-in-out 0s;
    box-sizing: content-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

.square:hover {
    transition: 0.5s;
    transform: rotate(-180deg);
}

@media screen and (max-width: 736px) {
    .square {
        margin-left: -150px;
        margin-bottom: 20px;
    }
}


h2 {
    margin: 10px 0 20px;
}

.container {
    background-color: #F7F8FA;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 35, 102, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    color: black;
}

.result-container {
    background-color: rgb(235 235 235);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    overflow-y: scroll;
    height: 100%;
}

#result::-webkit-scrollbar {
    width: 1rem;
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.btn {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    transition: 0.5s all ease-in-out;
    background-color: #4169e1;
}

.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.lsetting {
    border-radius: 5px;
    border: none;
    background-color: rgb(235 235 235);
    width: 40px;
    height: 30px;
}