* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}

body {
    background-color: #F7F8FA;
    height: 100%;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

p {
    margin: 0 0 2em 0;
}


/************ Square *************/

.square {
    transition: 1s;
    margin-left: 90px;
    margin-top: 100px;
    border: 5px solid #000;
    letter-spacing: normal;
    line-height: normal;
    /* Color & Background */
    color: rgb(0, 0, 0);
    /* Box */
    height: 50px;
    width: 50px;
    /* Positioning */
    position: relative;
    /* Effects */
    transform: matrix(6.12323e-17, -1, 1, 6.12323e-17, 0, 0);
    transition: transform 0.4s ease-in-out 0s;
    box-sizing: content-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

.square:hover {
    transition: 0.5s;
    transform: rotate(-180deg);
}

.logo-text {
    text-align: center;
    font-size: 25px;
    letter-spacing: normal;
    /* Positioning */
    position: absolute;
    top: 25px;
    bottom: 10.7778px;
    right: 5.29167px;
    left: 25px;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    /* Effects */
    transform: matrix(6.12323e-17, 1, -1, 6.12323e-17, -9.77778, -7.11111);
    transition: transform 0.4s ease-in-out 0s;
}

.container {
    background-color: #F7F8FA;
    width: 450px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 35, 102, 0.2);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.lbl {
    font-size: 16px;
    color: #44475b;
    font-weight: 400;
}

.val {
    color: #44475b;
    font-weight: 500;
    font-size: 18px;
}

.input-box {
    background-color: #cdccfd;
    color: #6f6df4;
    padding: 5px;
}

#bill {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: #6f6df4;
}

hr {
    border: none;
    border-bottom: 1px solid #cdccfd;
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}

input[type="range"]:not(:last-child) {
    margin-bottom: 5px;
}

section:not(:last-child) {
    margin-bottom: 40px;
}

section:not(:first-child) {
    margin-top: 40px;
}

section:last-child {
    background-color: #cdccfd;
    padding: 10px;
    border-radius: 5px;
}

section:last-child .val,
section:last-child .lbl {
    color: #4c4af4;
}

@media screen and (max-width: 736px) {
    .square {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .container {
        width: 90%;
        margin-top: 60%;
    }
}